body {
 background-color: hsl(217, 54%, 11%);   
   color: hsl(215, 51%, 70%);
    font-family: Outfit, serif;
    font-weight: 300;
    font-size: 18px;
}
.logo {
    vertical-align: sub;
    height: 20px;
}

#avatar {
    width: 30px;
    vertical-align: middle;
    border: 1px solid hsl(0,0%,100%);
    border-radius: 50%
}

main {
    max-width: 300px;
    height: 546px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    padding: 27px;
}

#picture, #equi {
    width: 100%;
    border-radius: 10px;
    background-repeat: no-repeat;    
    background-size: contain;
    height: 300px;
    border: none;
}

#equi:hover {
    opacity: 0.3;
}

#picture:hover {
    background: hsl(178, 100%, 50%);;
    opacity: 1;
}

h3 {
    color: hsl(0,0%,100%);
    margin-top: 24px;
}
h5 {
    margin: auto;
}

#eth {
    font-weight: 400;
    float: left;
    width: 50%;
    color: hsl(178, 100%, 50%);
    font-size: 16px;
}

p {
    margin-bottom: 25px;
}

#count {
    float: right;
    width: 50%;
    text-align: right;
    font-size: 16px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid hsl(215, 32%, 27%); 
    border-bottom: none;
}

#credit {
    font-size: 16px;
}

#name {
    color: hsl(0,0%,100%);
}

h3:hover, #name:hover{
    color : hsl(178, 100%, 50%);
}